# Logs
logs
*.log
npm-debug.log*

# OS / Editor specific
.DS_Store
.idea
.vscode

# Prisma
prisma/dev.db
prisma/dev.db-journal

# TypeScript
*.tsbuildinfo

# Others
.env.local
.env.development
.env.production
